/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/

    
 body {
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;

}


/* HLAVICKA */

header {
    text-align: center;
    background: url(images/island-hlavicka.jpg) center center no-repeat;
    background-size: cover; 
    color: white;
    padding: 10%;
    position:relative;
    z-index: 1;
}

header::before{
    top: 0;
    left: 0;
    z-index: -1;
    content:'';
    width: 100%;
    height: 100%;
    display:block;
    opacity: 30%;
    background-color: black;
    position:absolute;
    display: block;
}

.titulek {
    font-family: 'Raleway', serif;
}


.autor{
    position: relative;
    opacity: 50%;
    padding-top: 15px;
}

.autor::before{
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background-color: white;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    position: absolute;

}

.body{
    margin: 0 20px;
}

.perex {
    padding-bottom: 20px;
}



/* MENU */

.menu{
    list-style: none;
    opacity: 50%;
    font-family: sans-serif;

}

.menu a{
    color:black;
    text-decoration: none;}

/*OBSAH mobil*/

@media (max-width: 500px) {
    .menu{
        text-align:center;
        margin: 0;
        padding: 30px 15px 40px 15px;

        
    }
    li{
        padding: 8px;
        border-bottom: 1px solid #cccc;
    }
    
    .popisek{
        text-align: center;
        color: grey;
        margin-top: 10px;
    }
    .popisek a{
        text-decoration: underline;
        color: grey;
    }
    }
    


/*OBSAH tablet*/
@media (min-width: 500px) and
        (max-width: 1000px) {

        }

  /*OBSAH pc*/
@media (min-width: 1000px) {    
    
}
/* OBSAH */

img{
    max-width: 100%;
    height:auto;
    display: block;
}


h2{
    padding-top: 30px;
    padding-bottom: 20px;

}

h2::after{
    content:'';
    display: block;
    width: 50px;
    height: 5px;
    background-color: rgb(97 158 223);
    margin: 0 0;
    position: relative;
    top: 20px;
    left: 0;

}

/* FOTOGALERIE */

.galerie{
    
}

.foto img{
    max-width: 100%;
    height:auto;
    display: block;
}

/*jak udělat bold jen p class a ne p span class*/

/*jak zrušit margin u obrázků, ale nechat u obsahu*/

/*jak zvětšit ty fakin fotky z fotogalerie*/

/* PATICKA */
